.nav {
  background-color: #f9f9fa;
  padding: 15px 55px;
  border-top: 1px solid rgba(146, 144, 144, 0.2);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2f363e;
  font-size: 25px;
  position: relative;
}

.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.nav__notification-2 {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  position: absolute;
  left: 25px;
  bottom: 25px;
}
