.user-component,
.user-component-column {
  display: flex;
  align-items: center;
}

.user-component-avatar {
  width: 66px;
  height: 66px;
  border-radius: 25px;
}

.user-component-text {
  margin-left: 15px;
}

.user-component-title {
  font-size: 18px;
  font-weight: 600;
}

.user-component-subtitle {
  margin-top: 8px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component-column:last-child {
  display: flex;
  flex-direction: column;
}

.user-component-time {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 8px;
  margin-top: -8px;
}

.user-component-subtext {
  display: flex;
}
